<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Multi-factor Authentication for Infrastructure Appliances</title>

</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">WAHA</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/users/sign_in">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Multi-factor Authentication for Infrastructure Appliances</h1>
    <div class="row center">
      <h5 class="header col m12 light">A lightweight, centralized LDAP MFA proxy to adapt to a variety of MFA types and differing directory services.</h5>
    </div>
    <div class="row center">
      <a href="/users/sign_up">Free Trial</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Streamlined</h5>

          <p class="light">WAHA loosely couples components to simplify integration with existing enterprise identity systems and administrative appliance portals using available protocols and standards.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Centralized</h5>

          <p class="light">Appliances using this centralized MFA enabling service will no longer require independent administration. Leveraging centralized directory services will enable Role Based (group based) entitlement assignments.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Automated</h5>

          <p class="light">Enterprise account management (IAM) processes such as periodic ID Certification and detailed auditing of rights assignments can be streamlined and automated.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of grad students working on this project like it's our full time job.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Network Components</h5>
        <ul>
          <li><a class="white-text" href="#!">Router</a></li>
          <li><a class="white-text" href="#!">Core Switch</a></li>
          <li><a class="white-text" href="#!">NAS Device</a></li>
          <li><a class="white-text" href="#!">Wireless Controller</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Design</h5>
        <ul>
          <li><a class="white-text" href="#!">LDAPv3 Support</a></li>
          <li><a class="white-text" href="#!">IPv6 Support</a></li>
          <li><a class="white-text" href="#!">LDAP Over IPC</a></li>
          <li><a class="white-text" href="#!">Updated C API</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<!--<script src="js/materialize.js"></script>-->
<!--<script src="js/init.js"></script>-->

</body>
</html>
