<% if user_signed_in? %>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <% if session %>
        <h5>Current User: <%= current_user.email %></h5>
      <% end %>
      <% if session["user_authy_token_checked"] %>
        <h5>User Authy Token Checked: <%= session["user_authy_token_checked"] %></h5>
        <h5>Authorized Admin for:</h5>

        <div class="row">
          

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <i class="material-icons">flip_to_back</i>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Distribution Switches<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Admin</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <i class="material-icons">language</i>

            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Wireless Access Points<i class="material-icons right">more_vert</i></span>
              <p><a href="#">Admin</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Admin<i class="material-icons right">close</i></span>
              <p>The Wireless Access Points contain built-in radios which provide wireless signals for connecting certain network devices that has an in-built wireless adapter.</p>
            </div>
          </div>
        </div>
      <% else %>
        <a href="/users/enable-two-factor" class="waves-effect waves-light btn-large blue">Enable Two Factor</a>
      <% end %>
    </div>
  </div>
<% else %>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Multi-factor Authentication for Infrastructure Appliances</h1>
      <div class="row center">
        <h5 class="header col m12 light">A lightweight, centralized LDAP MFA proxy to adapt to a variety of MFA types
          and
          differing directory services.</h5>
      </div>
      <div class="row center">
        <a href="/users/sign_in" class="waves-effect waves-light btn-large blue">Free Trial</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Streamlined</h5>

            <p class="light">WAHA loosely couples components to simplify integration with existing enterprise identity
              systems and administrative appliance portals using available protocols and standards.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Centralized</h5>

            <p class="light">Appliances using this centralized MFA enabling service will no longer require independent
              administration. Leveraging centralized directory services will enable Role Based (group based) entitlement
              assignments.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Automated</h5>

            <p class="light">Enterprise account management (IAM) processes such as periodic ID Certification and
              detailed auditing of rights assignments can be streamlined and automated.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of grad students working on this project like it's our full
            time job.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Network Components</h5>
          <ul>
            <li><a class="white-text" href="#!">Router</a></li>
            <li><a class="white-text" href="#!">Core Switch</a></li>
            <li><a class="white-text" href="#!">NAS Device</a></li>
            <li><a class="white-text" href="#!">Wireless Controller</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Design</h5>
          <ul>
            <li><a class="white-text" href="#!">LDAPv3 Support</a></li>
            <li><a class="white-text" href="#!">IPv6 Support</a></li>
            <li><a class="white-text" href="#!">LDAP Over IPC</a></li>
            <li><a class="white-text" href="#!">Updated C API</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        WAHA 2018
      </div>
    </div>
  </footer>

<% end %>